/* .destination-section{
position: relative;
border: 2px solid #ccc;
margin: 40p 10px;
} */

#product {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart {
  min-width: 320px;
  min-height: 500px;
  border: 1px solid #eee;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 8px 20px rgb(53, 52, 52);
  margin: 10px;
  transition: 0.5s linear;
}

.cart:hover {
  box-shadow: red;
}

.product-image {
  max-width: 320px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
}

.cart h3 {
  text-transform: uppercase;
  margin: 10px 0;
}

.cart h3 a {
  text-decoration: none;
  color: #333;
}

.cart h3 a:hover {
  color: crimson;
}

.cart span {
  color: crimson;
}

.cart p {
  margin: 10px 0;
  font-size: 10px;
}

.cart-btn {
  border: none;
  outline: none;
  background: rgb(41, 46, 45);
  /* color: white; */
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 15px 0;
}

.cart-btn1 {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: sans-serif;
}

.cart-btn1:hover {
  color: rgb(236, 94, 22);
  font-size: 0.9rem;
}

.Crud-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.delete-btn {
  color: white;
  text-decoration: none;
  background: rgb(42, 43, 42);
  padding: 10px 6px;
  font-size: 11px;
  margin: 2px 8px;
  width: 30%;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgb(228, 125, 125);
  border-radius: 10px;
  outline: none;
}

.delete-btn:hover {
  background: rgb(64, 241, 138);
  color: black;
  width: 35%;
}

.update-btn {
  color: white;
  text-decoration: none;
  background: rgb(42, 43, 42);
  padding: 10px 6px;
  font-size: 11px;
  margin: 2px 8px;
  width: 30%;
  border: 1px solid rgb(228, 125, 125);
  border-radius: 10px;
  outline: none;
}

.update-btn:hover {
  background: rgb(64, 241, 138);
  color: black;
  width: 35%;
}

.update-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.Addtocart-btn {
  /* color: white; */
  color: white;
  padding: 10px 90px;
  background: black;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 10px;
  margin-left: 15px;
}

.Addtocart-btn1 {
  text-decoration: none;
  color: white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-btn {
  border: none;
  outline: none;
  color: white;
  padding: 10px 90px;
  background: black;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  border-radius: 10px;
}
.add-link {
  text-decoration: none;
  color: white;
}
