* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.countries {
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    min-height: 100vh; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}

.countries h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}

.card {
  width: 100vh;
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); */
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  margin-left: 22px;
}

.card .box {
  position: relative;
  height: 250px;
  width: 350px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

/* .card .box::before{
    position: absolute;
    content:"";
    top:99.9%;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #eb4511;
    background-image: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
    transition: 0.4s;
} */

/* .card .box:hover::before{
    top:50%
} */

.card .box .imgbox {
  width: 100%;
  height: 70%;
}

.card .box .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box h1 {
  margin: 8px 0;
  font-size: 15px;
  position: relative;
}

/* .box:hover h1{
    color: white;
} */

/* .box p{
    font-size: 14px;
    position: relative;
} */

.visit-btn {
  /* border: 2px solid red; */
  border-radius: 5px;
  /* font-size: 15px; */
  width: 100%;
  padding: 5px 0;
  /* text-decoration: none; */
  font-weight: bold;
  font-family: sans-serif;
}

.visit-btn:hover {
  background-color: rgb(112, 253, 230);
}

.btnn {
  text-decoration: none;
  font-size: 20xp;
  text-align: center;
}

.btnn:hover {
  color: white;
}
