@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}
.university-details-section{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff;
}

.university-image img{
    background: no-repeat center center/cover;
    height: 740px;
    width: 100%;
    /* object-fit: contain; */
    object-position: center;
}

.university-names{
    width: 34%;
    height: auto;
    position: absolute;
    top: 229px;
    left: 90px;
    color:white;
    font-family: 'Amiri', serif;
} 

.university-names h1{
    font-family: 'PT Serif', serif;
    font-size: 44px;

} 

.university-names {
    font-family: 'PT Serif', serif;
    font-size: 16px;
} 

.university-website-btn{
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: white;
    background-color: #f26822;
    padding: 14px;;
    border-radius:27px ;
    margin-top:22px;
}

.university-box{
    width: 30%;
    height: 15%;
    position: absolute;
    top: 109px;
    left: 860px;
    color:black;
    font-family: 'Amiri', serif;
    background-color: white;
    border-radius:27px ;
}

.university-box  .universities-named{
    font-size: 24px;
    margin-left: 8%;
}
.universities-named h3{
  font-size: 30px;
}


.universities-named span{
  font-size: 20px;

}

.university-box .universities-info{
    margin-left: 8%;
    margin-top: 3%;
    font-family: 'Playfair Display', serif;

}

.universities-info h3{
    background-color: #5a5a72;
    width: 100%;
    margin-top: 0%;
    font-size: 20px;

}

.studyAbroad img {
    width: 31%;
    height: 78vh;
    display: flex;
    object-fit: contain;
    filter: grayscale(8%);
    position: absolute;
    margin:-3% 66%;
  }

  .whyStudy img {
    width: 31%;
    height: 78vh;
    display: flex;
    object-fit: contain;
    filter: grayscale(8%);
    position: absolute;
    margin:-6% 66%;
  }

  .internationalStudents img {
    width: 31%;
    height: 78vh;
    display: flex;
    object-fit: contain;
    filter: grayscale(8%);
    position: absolute;
    margin: -6% 8%;
  }

.studyAbroad h1{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 35px;
}

.studyAbroad p{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    width: 56%;
}

.whyStudy h1{
    font-family: 'Playfair Display', serif;
    margin-top: 6%;
    margin-left: 4%;
    font-size: 35px;
}

.whyStudy-title h3{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 25px;

}

.whyStudy p{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    width: 56%;
}

.internationalStudents h1{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 46%;
    font-size: 35px;

}


.internationalStudents p{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 46%;
}
/* 
.Fees-Fundingtab{
    overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
} */

.Fees-Funding h1{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 35px;

  }

  .Fees-Funding p{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
  }
  .fee-Information h2{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 30px;

  }

  .Funding h2{ 
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 30px;

  }

  .funding-title h3{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 30px;

  }

  .funding-title p{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
  }

  .location h1{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 35px;
  }

  .location p{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    width:50%
  }

  .comment h1{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 35px;

  }

  .comment input{
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    font-size: 20px;
    margin: 2%  4%;
  }