.home-container {
  background: url("../images/imgBg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  filter: grayscale(8%);
  position: relative;
  background-position: 50% 100%;
  /* background-size: cover; */
}
.homediv {
  margin-top: 15%;
  margin-left: 5%;
}
.home-container > h1 {
  line-height: 2.2;
}

.home-container > p {
  width: 25%;
  margin-top: 1%;
  color: #fff;
  font-size: 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* .search-btn{
      border: 2px solid red;

  } */

.btnHolder > Button {
  outline: none;
  /* box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1); */
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(18, 79, 192);
  padding: 5px;
  width: 200px;
  margin-top: 1%;
  color: #ffff;
  height: auto !important;
}
.btnHolder > Button:hover {
  background-color: #2134db;
  font-size: 21px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 1032px) {
  .home-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .home-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
@media screen and (max-width: 506px) {
  .home-container > h1 {
    font-size: 40px;
    margin-top: -150px;
  }

  .home-container > p {
    font-size: 25px;
  }
}
